<!DOCTYPE html>
<html>
<head>
  <title>Streamer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>


<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <a class="navbar-brand" href="<%=root_path%>">Streamer</a>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="<%= streams_path %>">Streams <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <%= flash_messages %>

  <%= yield %>
</div>

</body>
</html>
